* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	/*
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	*/
}
*:focus {
	outline: none;
}
canvas {
	-webkit-tap-highlight-color: transparent;
}
html, body {
	font-family: Helvetica, sans-serif;
	font-size: 3vmax;
	color: #222;
	background: #fafafa;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: default;
}
div {
	position: absolute;
	vertical-align: top;
	background: none;
}
/* No highlighting (at least in FF?) -- looks nicer :) */
/*
::selection {
	background-color: rgba(49,211,255,0.3);
	color: #222222;
}
::-moz-selection {
	background-color: rgba(49,211,255,0.3);
	color: #222222;
}
::-webkit-selection {
	background-color: rgba(49,211,255,0.3);
	color: #222222;
}
*/

/* MAIN CANVAS */
#mainCanvas {
	z-index: 0;
	width: 100%;
	height: 100%;
}

/* CURRENT TOOL */
/* TODO perhaps add shadows later? */
/*
#currentTool, #currentToolActive, .colorSlideLarge, #toolBox {
	box-shadow: 0 0 1px rgb(170,170,170);
}
.colorSlideSmall {
	box-shadow: 0 0 1px rgba(170,170,170,0.6);
}
*/
#currentTool {
	position: absolute;
	top: 1vmax;
	left: 1vmax;
	width: 3.3vmax;
	height: 3.3vmax;
	background-color: rgb(140,140,140); 
	background-size: 2.1vmax 2.1vmax;
	background-position: center;
	background-repeat: no-repeat;
	border: solid .15vmax rgba(34,34,34,0.4);
	border-radius: 0.5vmax;
	z-index: 1;
	opacity: 0.8;
	cursor: pointer;
}
#currentTool:hover {
	opacity: 1.0;
}
#currentToolActive {
	position: absolute;
	top: 1vmax;
	left: 1vmax;
	width: 3.3vmax;
	height: 3.3vmax;
	background-color: rgb(140,140,140);
	background-size: 2.1vmax 2.1vmax;
	background-position: center;
	background-repeat: no-repeat;
	border: solid .15vmax rgba(34,34,34,0.4);
	border-radius: 0.5vmax;
	z-index: 1;
	opacity: 1.0;
	cursor: pointer;
}

/* TOOL BOX */

/* Positioned relative to #currentTool */
#toolBox {
	display: none;
	position: absolute;
	padding-top: 0.5vmax;
	left: 1vmax;
	top: 5.3vmax;
	width: 7.5vmax;
	background-color: #cccccc;
	z-index: 2;
	border-radius: 0.5vmax;
}
	.toolBoxIcon, .curToolIcon {
		display: inline-block;
		float: left;
		margin: 0 0 0.5vmax 0.5vmax;
		width: 3vmax;
		height: 3vmax;
		background-color: rgb(140,140,140);
		background-size: 1.8vmax 1.8vmax;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		border: solid .15vmax rgba(34,34,34,0.4);
		border-radius: 0.5vmax;
	}
	.toolBoxIcon {
		opacity: 0.6;
	}
	.toolBoxIcon:hover {
		opacity: 1.0;
	}
	.curToolIcon {
		opacity: 1.0;
	}

/* COLOR PALETTE */
#colorPalette {
	position: absolute;
	left: 6.3vmax;
	top: 1vmax;
	max-width: 19vmax;
	vertical-align: top;
	z-index: 1;
	background: none;
}
	.colorSlideLarge, .colorSlideLargeUnused, #newColorSlide {
		position: relative;
		display: inline-block;
		float: left;
		width: 3.3vmax;
		height: 3.3vmax;
		margin: 0 0.25vmax 0 0.25vmax;
		border: solid .15vmax rgba(34,34,34,0.4);
		border-radius: 0.5vmax;
		cursor: pointer;
	}
	.colorSlideLargeUnused {
		background: rgba(60,60,60,0.4);
		opacity: 0.3;
	}
	.colorSlideLargeUnused:hover {
		opacity: 0.8;
	}
	#newColorSlide {
		background: rgba(170,170,170,0.6);
		text-align: center;
		font-size: 2.5vmax;
		line-height: 2.8vmax;
		opacity: 0.5;
		cursor: pointer;
	}
	#newColorSlide:hover {
		opacity: 1.0;
	}
	/* TODO perhaps set FIRST unused to have background, and others to only have background when container is hovered over? */
	.colorSlideSmall, .colorSlideSmallUnused {
		position: relative;
		display: inline-block;
		float: left;
		width: 1.5vmax;
		height: 1.5vmax;
		margin: 0 0.4vmax 0.3vmax 0;
		border: solid .1vmax rgba(34,34,34,0.4);
		border-radius: 0.2vmax;
		background: #ff0000;
		cursor: pointer;
		background-clip: padding-box;
	}
	/*
	#colorPalette:hover .colorSlideSmallUnused {
		opacity: 0.3;
	}
	*/
	.colorSlideSmallUnused {
		background: rgba(60,60,60,0.4);
		opacity: 0.3;
	}
	.colorSlideSmallUnused:hover {
		opacity: 0.8;
	}
	.curSlide {
		border-style: dashed;
		border-color: rgba(34,34,34,0.7);
		border-width: .2vmax;
	}
	#paletteChangeOptionsContainer {
		position: absolute;
		top: 1vmax;
		left: 25.6vmax;
		width: 1vmax;
		height: 3.3vmax;
	}
		#paletteUpArrow, #paletteDownArrow, #paletteChooseButton {
			position: absolute;
			width: 1vmax;
			height: 1vmax;
			opacity: 0.6;
			cursor: pointer;
		}
		#paletteUpArrow:hover, #paletteDownArrow:hover, #paletteChooseButton:hover {
			opacity: 1.0;
		}
		#paletteUpArrow {
			top: 0; left: 0;
		}
		#paletteChooseButton {
			text-align: center;
			font-size: 1.2vmax;
			line-height: 1.2vmax;
			margin: auto; top: 0; right: 0; bottom: 0; left: 0;
		}
		#paletteDownArrow {
			bottom: 0; right: 0;
		}
	/*
	#newColorSlideButton {
		position: absolute;
		top: 2.4vmax;
		left: 21.4vmax;
		height: 1.3vmax;
		width: 1.3vmax;
		background: linear-gradient(rgb(140,140,140),rgb(180,180,180));
		border: solid 1px rgb(100,100,100);
		border-radius: 0.3vmax;
		font-size: 1.1vmax;
		font-weight: 500;
		text-align: center;
		line-height: 1.2vmax;
		opacity: 0.95;
		cursor: pointer;
	}
	*/
	#newColorSlideButton:hover {
		opacity: 1.0;
	}

#newColorDialog {
	display: none;
	width: 22vmax;
	height: 21.3vmax;
	position: absolute;
	left: 6.3vmax;
	top: 5.3vmax;
	background: rgba(34,34,34,0.85);
	overflow: hidden;
	z-index: 1;
}
	#saturationBrightnessBox {
		position: absolute;
		top: 0.6vmax;
		left: 0.6vmax;
		width: 13.5vmax;
		height: 12.6vmax;
		border: 1px solid rgb(100,100,100);
		border-radius: 2px;
	}
	#brightnessOverlay {
		position: absolute;
		top: 0.6vmax;
		left: 0.6vmax;
		width: 13.5vmax;
		height: 12.6vmax;
		border: 1px solid rgb(100,100,100);
		border-radius: 2px;
		z-index: 2;
		background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,1.0));
	}
	#hueBar {
		position: absolute;
		top: 0.6vmax;
		left: 15.15vmax;
		height: 12.6vmax;
		width: 2.6vmax;
		border: 1px solid rgb(100,100,100);
		border-radius: 2px;
		margin-right: 0.5%;
	}
	#hueBarArrowCanvasLeft, #hueBarArrowCanvasRight {
		position: absolute;
		top: 0;
		width: 0.6vmax;
		height: 13.8vmax;
		opacity: 0.8;
	}
	#hueBarArrowCanvasLeft { left: 14.55vmax; }
	#hueBarArrowCanvasRight { left: 17.75vmax; }
	.colorDisplay {
		position: absolute;
		height: 6vmax;
		width: 2.6vmax;
		right: 0.6vmax;
		border: 1px solid rgb(100,100,100);
		border-radius: 2px;
	}
	.onlyColorDisplay {
		top: 0.6vmax !important;
		height: 12.6vmax;
		z-index: 3;
	}
	#lastColorDisplay {
		top: 0.6vmax;
	}
	#chosenColorDisplay {
		top: 7.2vmax;
	}
	.colorInputContainer, #hexValueContainer {
		position: absolute;
		padding-left: .2vmax;
		height: 1.9vmax;
		line-height: 1.9vmax;
		background: #777;
		color: #dadada;
		font-size: 1.3vmax;
		border: 1px solid rgb(100,100,100);
		border-radius: 2px;
	}
	.colorInputContainer {
		width: 5.3vmax;
	}
	#rValueContainer {
		top: 13.8vmax;
		left: 1.8vmax;
	}
	#gValueContainer {
		top: 13.8vmax;
		left: 8.35vmax;
	}
	#bValueContainer {
		top: 13.8vmax;
		right: 1.8vmax;
	}
	#hValueContainer {
		top: 16.3vmax;
		left: 1.8vmax;
	}
	#sValueContainer {
		top: 16.3vmax;
		left: 8.35vmax;
	}
	#vValueContainer {
		top: 16.3vmax;
		right: 1.8vmax;
	}
	#hexValueContainer {
		top: 18.8vmax;
		left: 1.8vmax;
		width: 8vmax;
	}
	.rgbHsvInput, #hexValueInput {
		position: absolute;
		right: 0.5vmax;
		text-align: right;
		cursor: text;
	}
	.rgbHsvInput {
		width: 3vmax;
	}
	#hexValueInput {
		width: 6vmax;
	}
	#saveColorButton {
		position: absolute;
		bottom: 0.6vmax;
		right: 1.8vmax;
		width: 2.2vmax;
		height: 1.9vmax;
		line-height: 1.9vmax;
		background: #666666;
		font-size: 1.4vmax;
		color: #bbbbbb;
		border: 1px solid #999999;
		border-radius: 2px;
		text-align: center;
	}
	#saveColorButton:hover {
		border-color: #bbbbbb;
		color: #00ff00;
	}

/* ANIMATION STUFF */

#animationContainer {
	position: absolute;
	top: 1vmax;
	right: 1vmax;
	width: 7.6vmax;
	height: 7.6vmax;
}
	/* TODO animationSlidesContainer gets in the way of grid if it doesn't have enough slides */
	#animationSlidesContainer {
		position: absolute;
		top: 1vmax;
		right: 9vmax;
		max-width: 19vmax;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		text-align: right;
		z-index: 1;
	}
		.animationSlide {
			display: inline-block;
			width: 3.3vmax;
			height: 3.3vmax;
			margin-right: 0.5vmax;
			background: rgba(180,180,180,0.6);
			border: solid .15vmax rgba(34,34,34,0.4);
			border-radius: 0.5vmax;
		}
		#curAnimationSlide {
			border-style: dashed;
			border-color: rgba(34,34,34,0.7);
			border-width: .2vmax;
		}
	#newAnimationSlideButton {
		position: absolute;
		top: 3.4vmax;
		right: 9vmax;
		height: 1.3vmax;
		width: 1.3vmax;
		background: linear-gradient(rgb(140,140,140),rgb(180,180,180));
		border: solid 1px rgb(100,100,100);
		border-radius: 0.3vmax;
		font-size: 1.1vmax;
		font-weight: 500;
		text-align: center;
		line-height: 1.2vmax;
		opacity: 0.95;
		cursor: pointer;
		z-index: 2;
	}
	#newAnimationSlideButton:hover {
		opacity: 1.0;
	}
	#animationBackwardButton {
		display: none;
		position: absolute;
		top: 0.5vmax;
		right: 4.7vmax;
		width: 0.9vmax;
		height: 0.6vmax;
		background: url('icons/animation_backward.png');
		background-size: 0.9vmax 0.6vmax;
		background-position: top left;
		background-repeat: no-repeat;
		z-index: 2;
		opacity: 0.6;
		cursor: pointer;
	}
	#animationPlayButton, #animationPauseButton {
		position: absolute;
		background-position: top left;
		background-repeat: no-repeat;
		z-index: 2;
		opacity: 0.4;
		cursor: pointer;
	}
	#animationPlayButton {
		top: 0.5vmax;
		right: 6.1vmax;
		background: url('icons/play.png');
		width: 0.9vmax;
		height: 0.6vmax;
		background-size: 0.9vmax 0.6vmax;
	}
	#animationPauseButton {
		top: 0.5vmax;
		right: 6.2vmax;
		background: url('icons/pause.png');
		width: 0.7vmax;
		height: 0.6vmax;
		background-size: 0.7vmax 0.6vmax;
	}
	#animationForwardButton {
		display: none;
		position: absolute;
		top: 0.5vmax;
		right: 2.1vmax;
		width: 0.9vmax;
		height: 0.6vmax;
		background: url('icons/animation_forward.png');
		background-size: 0.9vmax 0.6vmax;
		background-position: top left;
		background-repeat: no-repeat;
		z-index: 2;
		opacity: 0.6;
		cursor: pointer;
	}
	#animationOnion {
		position: absolute;
		right: 6.0vmax;
		bottom: 0.4vmax;
		width: 1.3vmax;
		height: 1.3vmax;
		background: url('icons/onion.png');
		background-size: 1.3vmax 1.3vmax;
		background-position: top left;
		background-repeat: no-repeat;
		z-index: 2;
		opacity: 0.4;
		cursor: pointer;
	}
	#animationOnion:hover, #animationBackwardButton:hover, #animationPlayButton:hover, #animationPauseButton:hover, #animationForwardButton:hover, #animationSpeedDisplay:hover {
	   	opacity: 1.0; 
	}
	#animationSpeedDisplay {
		position: absolute;
		right: 0.5vmax;
		bottom: 0.2vmax;
		font-size: 1.3vmax;
		z-index: 2;
		opacity: 0.4;
		cursor: text;
	}
	#animationDisplay {
		position: absolute;
		top: 0;
		right: 0;
		width: 7.6vmax;
		height: 7.6vmax;
		background-color: #fafafa;
		border: solid .15vmax rgba(34,34,34,0.4);
		border-radius: 0.5vmax;
	}

/* DIMENSIONS DISPLAY */

#dimensionsDisplay {
	display: none;
	position: absolute;
	bottom: 1vmax;
	left: 1vmax;
	font-size: 2vmax;
	line-height: 2vmax;
	color: #222222;
	z-index: 2;
}

#dimensionsDisplay img {
	position: relative;
	top: 0.1vmax;
	height: 1.5vmax;
	opacity: 0.6;
}

#dimensionsDisplay img:hover {
	opacity: 1.0;
	cursor: pointer;
}

#dimensionsDisplayWidthText, #dimensionsDisplayHeightText {
	display: inline;
	position: relative;
	cursor: text;
}

/* LAYERS */
#layersMinimized, #spritesMinimized {
	position: absolute;
	bottom: 1vmax;
	height: 1.5vmax;
	line-height: 1.5vmax;
	padding: 0 0.5vmax;
	background: rgba(170,170,170,0.6); 
	color: rgba(34,34,34,0.8);
	border-radius: 0.3vmax;
	font-size: 1.1vmax;
	cursor: pointer;
}
#layersMinimized:hover, #spritesMinimized:hover {
	background: rgba(170,170,170,0.8); 
	color: rgba(34,34,34,1.0);
}
#layersMinimized {
	display: none;
	right: 1vmax;
	width: 7.6vmax;
}
#spritesMinimized {
	display: none;
	right: 9.6vmax;
	width: 19vmax;
}
	.floatLeft {
		float: left;
	}
	.floatRight {
		float: right;
	}

#layersContainer, #spritesContainer {
	position: absolute;
	bottom: 1vmax;
	height: 22.5vmax;
	background: rgba(240,240,240,0.8);
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: rgba(34,34,34,0.4);
	border-radius: 0 0 0.5vmax 0.5vmax;
}
#layersContainer {
	display: block;
	right: 1vmax;
	width: 7.6vmax;
}
	#layersScrollContainer {
		position: absolute;
		top: 0;
		left: 0;
		height: 22.5vmax;
		width: calc(7.6vmax - 2px);
		overflow-y: auto;
		border-radius: 0 0 0.5vmax 0.5vmax;
	}
	.layerContainer {
		position: relative;
		display: block;
		width: calc(7.6vmax - 2px);
		height: 3.9vmax;
		cursor: pointer;

		/* MAYBE WITH BORDER */
		/*
		border-style: solid;
		border-width: 1px 0 0 0;
		border-color: rgba(210,210,210,0.8);
		*/

		opacity: 0.4;
		/* margin: 0 0 0.2vmax 0; */
	}
	.layerContainer:nth-of-type(1) { border: none; }
	#addLayerButton {
		position: relative;
		display: block;
		width: calc(7.6vmax - 2px);
		height: 2vmax;
		line-height: 1.6vmax;
		color: rgba(34,34,34,0.4);
		text-align: center;
		background: rgba(210,210,210,0.3);
		cursor: pointer;
		font-size: 1.8vmax;

		border-style: solid;
		border-width: 1px 0 0 0;
		border-color: rgba(210,210,210,0.6);
	}
	#addLayerButton:hover {
		color: rgba(34,34,34,1.0);
		background: rgba(170,170,170,0.2);
	}
	.layerContainer:hover, #activeLayerContainer:hover {
		opacity: 1.0;
		background: rgba(170,170,170,0.2);
	}
	#activeLayerContainer {
		background: rgba(210,210,210,0.3);
		opacity: 1.0;
	}
		.layerDisplay {
			position: absolute;
			top: 1.4vmax;
			right: 0.5vmax;
			width: 2.2vmax;
			height: 2.2vmax;
			background: rgba(180,180,180,0.6);
			border: solid .15vmax rgba(34,34,34,0.4);
			border-radius: 0.5vmax;
		}
		.layerTitle {
			position: absolute;
			top: 0.3vmax;
			right: 0.3vmax;
			height: 1.1vmax;
			line-height: 0.9vmax;
			font-size: 0.8vmax;
			width: 6.6vmax;
			text-align: left;
			border-radius: 0 0 0.5vmax 0.5vmax;
		}
		.layerViewEyeShown, .layerViewEyeHidden {
			position: absolute;
			bottom: 0.3vmax;
			right: 3.2vmax;
			width: 0.9vmax;
			height: 0.9vmax;
			content: url('icons/view_layer.png');
		}
		.layerViewEyeShown, .layerViewEyeHidden:hover {
			opacity: 1.0;
		}
		.layerViewEyeHidden {
			opacity: 0.4;
		}
		.layerUpArrow {
			position: absolute;
			bottom: 0.4vmax;
			left: 0.5vmax;
			width: 0.8vmax;
			height: 0.6vmax;
			opacity: 0.2;
			content: url('icons/up_arrow.png');
		}
		.layerDownArrow {
			position: absolute;
			bottom: 0.4vmax;
			left: 1.5vmax;
			width: 0.8vmax;
			height: 0.6vmax;
			opacity: 0.2;
			content: url('icons/down_arrow.png');
		}
		.layerViewEye:hover, .layerUpArrow:hover, .layerDownArrow:hover {
			opacity: 1.0;
		}
		/*
		.layerOptionsContainer {
			position: absolute;
			right: 0;
			bottom: 0;
			height: 1.2vmax;
			width: 3.3vmax;
			background: #ccc;
		}
		*/
#spritesContainer {
	display: block;
	right: 9.6vmax;
	width: 19vmax;
}
	#spriteSearchBar {
		position: absolute;
		top: 0.5vmax;
		right: 0.5vmax;
		padding: 0 0.5vmax;
		width: 8vmax;
		height: 1.6vmax;
		line-height: 1.6vmax;
		font-size: 0.9vmax;
		background: rgba(245,245,245,0.8);
		border: solid 1px rgba(34,34,34,0.4);
		border-radius: 0.5vmax;
	}
	#spritesScrollContainer {
		position: absolute;
		top: 2.6vmax;
		left: -1px;
		height: 19.9vmax;
		width: 19vmax;
		overflow-y: auto;
		border-radius: 0 0 0.5vmax 0.5vmax;
	}
		.spriteDisplay, #newSpriteButton {
			position: inline-block;
			float: left;
			width: 4.125vmax;
			height: 4.125vmax;
			margin: 0 0 0.5vmax 0.5vmax;
			border-radius: 0.5vmax;
			border: solid .15vmax rgba(34,34,34,0.4);
			cursor: pointer;
		}
		#curSpriteDisplay {
			border: dashed 0.2vmax rgba(34,34,34,0.7);
		}
		#newSpriteButton {
			text-align: center;
			line-height: 3.6vmax;
			background: rgba(180,180,180,0.7);
			opacity: 0.7;
			font-size: 3vmax;
		}
		#newSpriteButton:hover {
			opacity: 1.0;
		}
	#layersContainerTitle, #spritesContainerTitle {
		position: absolute;
		top: -1.5vmax;
		height: 1.5vmax;
		line-height: 1.5vmax;
		left: -1px;
		font-size: 1.1vmax;
		padding: 0 0.5vmax;
		border-style: solid;
		border-width: 1px 1px 0 1px;
		border-color: rgba(34,34,34,0.4);
		border-radius: 0.5vmax 0.5vmax 0 0;
		background: rgba(170,170,170,0.8); 
		color: rgba(34,34,34,0.8);
		cursor: pointer;
	}
	#layersContainerTitle {
		width: 7.6vmax;
	}
	#spritesContainerTitle {
		width: 19vmax;
	}
	#layersContainerTitle:hover, #spritesContainerTitle:hover {
		background: rgba(170,170,170,1.0); 
	}
	
/* OPTIONS */
#optionsIcon {
	display: none;
	position: absolute;
	right: 29.2vmax;
	bottom: 0.7vmax;
	width: 1.8vmax;
	height: 1.8vmax;
	background: url('icons/gear.png');
	background-size: 1.5vmax 1.5vmax;
	background-position: top left;
	background-repeat: no-repeat;
	opacity: 0.6;
	cursor: pointer;
}
#optionsIcon:hover {
	opacity: 1.0;
}
#optionsMenu {
	display: block;
	position: absolute;
	bottom: 1vmax;
	right: 29.6vmax;
	height: 22.5vmax;
	width: 25vmax;
	background: rgba(240,240,240,0.8);
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: rgba(34,34,34,0.4);
	border-radius: 0 0 0.5vmax 0.5vmax;
}
	#optionsMenuTitle {
		position: absolute;
		top: -1.5vmax;
		height: 1.5vmax;
		width: 25vmax;
		line-height: 1.5vmax;
		left: -1px;
		font-size: 1.1vmax;
		padding: 0 0.5vmax;
		border-style: solid;
		border-width: 1px 1px 0 1px;
		border-color: rgba(34,34,34,0.4);
		border-radius: 0.5vmax 0.5vmax 0 0;
		background: rgba(170,170,170,0.8); 
		color: rgba(34,34,34,0.8);
		cursor: pointer;
	}
	#optionsMenuTitle:hover {
		background: rgba(170,170,170,1.0); 
	}
	#optionsCategorySideBar {
		position: absolute;
		top: 0;
		left: 0;
		width: 8vmax;
		height: 22.5vmax;
		border-style: solid;
		border-color: rgba(34,34,34,0.4);
		border-width: 0 1px 0 0;
	}
		.sideBarCategory {
			display: block;
			width: 100%;
			height: 2.3vmax;
			line-height: 2.3vmax;
			padding: 0 0 0 0.5vmax;
			font-size: 1.2vmax;
			background: rgb(240,240,240);
			border-style: solid;
			border-color: rgb(220,220,220);
			border-width: 0 0 1px 0;
			cursor: pointer;
		}
		.sideBarCategory:hover {
			border-right: 5px solid rgba(34,34,34,0.3);
		}
		.activeCategory {
			background: rgb(225,225,225);
			/* border-right: 5px solid rgba(34,34,34,0.15); */
		}
	#exportMenu, #projectsMenu, #accountMenu {
		position: absolute;
		top: 0;
		left: 8vmax;
		width: calc(17vmax - 2px);
		height: 22.5vmax;
	}
		#exportMenu a {
			color: #222;
			text-decoration: none;
		}
		#exportMenu * {
			position: absolute;
			left: 1.5vmax;
		}
		.exportOptionButton {
			display: block;
			width: 14vmax;
			height: 2.4vmax;
			line-height: 2.4vmax;
			/* padding-left: 2.5vmax; */
			border: 1px solid rgba(34,34,34,0.3);
			border-radius: 0.5vmax;
			font-size: 1.2vmax;
			text-align: center;
			cursor: pointer;
		}
		.exportActiveButton {
			background: rgb(200,200,200);
		}
		.exportOptionButton:hover {
			background: rgb(200,200,200);
		}
		#exportCurSpriteButton { top: 1.0vmax; }
		#exportWholeProjectButton { top: 3.9vmax; }
		#exportGifButton { top: 9.8vmax; }
		#exportPngButton { top: 12.70vmax; }
		#exportButton {
			position: absolute;
			top: 19.1vmax;
			text-align: center;
			padding: 0;
		}
	#projectsMenu {
		overflow-y: auto;
		overflow-x: hidden;
		padding-top: 2vmax;
	}
		.projectContainer {
			position: relative;
			display: block;
			width: 15vmax;
			height: 5vmax;
			margin: calc(1.0vmax - 1px);
			margin-bottom: calc(0.7vmax - 1px);
			opacity: 0.4;
			cursor: pointer;
		}
		.projectContainer:hover, .currentProjectContainer {
			opacity: 1.0;
		}
			.projectTitle {
				position: relative;
				display: block;
				width: 13.5vmax;
				height: 1.5vmax;
				line-height: 1.5vmax;
				font-size: 1.0vmax;
			}
			.changeProjectTitleButton {
				display: none;
			}
			.currentProjectContainer:hover .changeProjectTitleButton {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 1.5vmax;
				height: 1.5vmax;
				background: url('icons/pen.png');
				background-size: 1vmax 1vmax;
				background-position: center;
				background-repeat: no-repeat;
				opacity: 0.4;
			}
			.changeProjectTitleButton:hover {
				opacity: 1.0 !important;
			}
			.projectImagesContainer {
				display: block;
				width: 15vmax;
				height: 3.3vmax;
			}
				.projectImageLarge {
					display: inline-block;
					float: left;
					width: 3vmax;
					height: 3vmax;
					margin-left: 1vmax;
					border-radius: 0.4vmax;
					border: 1px solid rgba(50,50,50,0.6);
				}
				.projectImageLarge:nth-of-type(1) { margin: 0; }
				.projectImageSmall {
					display: inline-block;
					float: left;
					width: 1.6vmax;
					height: 1.6vmax;
					margin: 0 0.275vmax 0.275vmax 0;
					border-radius: 0.2vmax;
					border: 1px solid rgba(50,50,50,0.6);
				}
			#newProjectButton, #saveProjectButton {
				position: absolute;
				top: 0.5vmax;
				display: block;
				height: 1.5vmax;
				padding: 0 0.5vmax;
				line-height: 1.4vmax;
				background: rgb(210,210,210);
				font-size: 0.8vmax;
				opacity: 0.8;
				text-align: center;
				border-radius: 0.3vmax;
				cursor: pointer;
			}
			#newProjectButton:hover, #saveProjectButton:hover {
				opacity: 1.0;
			}
			#newProjectButton {
				right: 0.75vmax;
			}
			#saveProjectButton {
				left: 0.75vmax;
			}
	#accountMenu { }
		#accountMenu a {
			text-decoration: none;
			color: #222;
		}
		#accountMenu a:hover {
			color: #a00000;
		}
		#loggedInMenu {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
			#loggedInText {
				position: absolute;
				top: 7.5vmax;
				left: 2vmax;
				width: 13vmax;
				font-size: 1.2vmax;
				text-align: center;
			}
			#logoutText {
				position: absolute;
				top: 11.5vmax;
				left: 2vmax;
				width: 13vmax;
				text-align: center;
				font-size: 1vmax;
			}
		#loginMenu {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
			#accountLoadingImage {
				display: none;
				position: absolute;
				top: 8.75vmax;
				left: 6.5vmax;
				width: 4vmax;
				height: 4vmax;
			}
			#loginErrorContainer {
				position: absolute;
				top: 1vmax;
				left: 1vmax;
				height: 3vmax;
				width: 15vmax;
				font-size: 0.9vmax;
				text-align: center;
				font-weight: 500;
				color: #a00000;
			}
			#loginFormContainer {
				position: absolute;
				top: 4.8vmax;
				left: 1.5vmax;
				width: 14vmax;
				height: 10vmax;
			}
				#loginHeader {
					font-size: 1.8vmax;
					width: 100%;
					text-align: center;
					font-weight: 400;
				}
				#usernameInput, #passwordInput {
					position: absolute;
					left: 0;
					outline: none;
					width: 100%;
					height: 2.1vmax;
					padding: 0 0.2vmax;
					font-size: 1.2vmax;
				}
				#usernameInput { top: 2.3vmax; }
				#passwordInput { top: 4.9vmax; }
				#loginRememberLabel {
					position: absolute;
					top: 7.5vmax;
					left: 0;
					font-size: 0.8vmax;
				}
				#loginSubmitButton {
					position: absolute;
					top: 7.5vmax;
					right: 0;
					height: 1.5vmax;
					line-height: 1.2vmax;
					font-size: 1vmax;
				}
			#registerLoginLink, #forgotPasswordLink {
				position: absolute;
				top: 9.5vmax;
				font-size: 0.8vmax;
			}
			#registerLoginLink { left: 0; }
			#forgotPasswordLink { right: 0; }
			/*
			#registerLoginLink {
				position: absolute;
				left: 0;
				top: 9.5vmax;
				font-size: 0.8vmax;
				width: 100%;
				text-align: center;
			}
			*/
